{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="{% static 'zepto.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'zimit.min.css' %}" />
		{% compress css %}		
		<link rel="stylesheet" type="text/less" href="/static/base.less" />
		{% endcompress %}

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<nav>
			<a href="/" class="site">Campaign Prospector</a>
			
			<input id="expand-util" type="checkbox">
			<label for="expand-util"><icon class="expand">menu</icon></label>
			
			<ul id="menu">
				{% if user.is_authenticated %}
				<li><a>Section 1</a></li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
				<li><a href="{% url 'signup' %}">Register</a></li>
				<li><a href="{%  url 'login' %}">Login</a></li>
				{% endif %}
			</ul>
		</nav>
		
		<div class="row">
			<div class="c10 o1">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>