{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="{% static 'zepto.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'zimit.min.css' %}" />
		
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<nav>
			<a class="site">Campaign Prospector</a>
			
			<input id="expand-util" type="checkbox">
			<label for="expand-util"><icon class="expand">menu</icon></label>
			
			<ul id="menu">
				{% if user.is_authenticated %}
				<li><a>Section 1</a></li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li><a>Register</a></li>
					<li>
						<form action="/" method="POST">
							{% csrf_token %}
							<input type="text" name="username" placeholder="username">
							<input type="password" name="password" placeholder="password">
							<input type="submit" value="Login">
						</form>
					</li>
				{% endif %}
			</ul>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>